<html>

<head>
    <title>首页</title>
    <script src="js/lib/jquery-3.3.1.min.js"></script>
    <script src="js/lib/jquery.url.js"></script>
    <script src="js/wallet.js"></script>
    <link rel="stylesheet" href="css/wallet.css">
</head>

<body id="d">

<div id="nav">

    <script>
        $("#nav").load("html/nav.html")
    </script>
</div>

<div id="main">
    <div id="c">
    <h1>欢迎来到shpcoin中心化钱包项目</h1>
    <span >在羊币智能合约项目-Token合约开发与部署中，我们使用了MyetherWallet的概念以及主流的几种钱包，如Mist,MyEtherWallet,MetaMask等，之前我们主要将钱包作为一个开发工具使用，用于智能合约的开发与调试工作，使用较多的是浏览器插件钱包MetaMask。</span>
    <br>
    <span> 在项目中，我们主要使用MyEtherWallet实现一个网页版应用，在本文中，我们能够使用到如下功能</span>
    <br>
    <span>
            <ul>
                <li>- 钱包助记词生成</li>
                <li>- 以太坊转账功能</li>
                <li>- 羊币转账实现</li>
                <li>- hash交易查询</li>
            </ul>
        </span>
    <span>
            目前主流的钱包平台已经有太多了，而且有很多已经做得比较完善了，本项目重点解决支付过程中的安全问题，为用户数据安全保驾护航
        </span>
</div>
</div>
</body>

</html>