<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>创建钱包</title>
<link rel="stylesheet" type="text/css" href="../css/normalize.css" />
<link rel="stylesheet" type="text/css" href="../css/demo.css" />
<!--必要样式-->
<link rel="stylesheet" type="text/css" href="../css/component.css" />
<!--[if IE]>
    <script src="../js/html5.js"></script>
    <![endif]-->
</head>
<body>
<div></div>


	<!-- 代码部分begin -->
    <div class="container demo-1">
        <!--<div>-->
            <!--<h1>创建一个新的账号</h1>-->
            <!--<form method="POST" action="/account/new">-->
                <!--<input type="text" placeholder="请输入密码" name="password">-->
                <!--<button type="submit">创建账号</button>-->
            <!--</form>-->
        <!--</div>-->
        <div class="content">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>
                <h1 class="main-title">创建</h1>
                <h1 class="main-title">创建一个新的账号 <span class="thin">Three</span></h1>
                <form method="POST" action="/account/new">
                    <button type="submit">创建账号</button>

                </form>
            </div>

        </div>
    </div>
    <script src="../js/TweenLite.min.js"></script>
    <script src="../js/EasePack.min.js"></script>
    <script src="../js/rAF.js"></script>
    <script src="../js/demo-1.js"></script>
    <!-- 代码部分end -->
</body>
</html>