<html>

<head>
    <title>查询交易详情</title>
    <script src="js/lib/jquery-3.3.1.min.js"></script>
    <script src="js/lib/jquery.url.js"></script>
    <script src="js/wallet.js"></script>
    <link rel="stylesheet" href="css/wallet.css">
    <link rel="shortcut icon" href="../bitcoin.png" type="image/x-icon" />
</head>

<body id="d">
<div id="nav">
    <script>
        console.log("==========")
        $("#nav").load("/html/nav.html")

    </script>
</div>
<div id="c">
<div id="main">
    <h1>查询交易详情</h1>

    <input class="z" type="text" id="txHash">
    <button id="login-button" onclick="queryTransaction()">查询</button>

    <!-- 用于显示代码块 -->
    <pre id="transactionInfo"></pre>

</div>
</div>
</body>

</html>